/* ----------------------
	Guilherme Kürten
	06/01/2015

-----------------------*/


/* geral */

* {
  box-sizing: border-box; 
}

/* Tipografia */

h1, h2, h3, h4, h5 {

	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

h1.lead {

	font-family: 'Playfair Display', serif;
	font-size: 70px;
	text-transform: uppercase;
	font-weight: 400;
	color: #ffffff;
    text-align: center;
    position: relative;
    top: 110px;
    margin: 0 auto;
    padding: 0;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

h3	{

	font-family: 'Playfair Display', serif;
	font-size: 30px;
	font-weight: 400;
	color: #ffffff;
	opacity: 0.45;
    filter: alpha(opacity=40);
    text-align: center;
    position: relative;
    top: 110px;

}

p {

	font-family: 'Fauna One', serif;
	font-size: 16px;
	font-weight: 400px;
	line-height: 30px;
	color: #ffffff;
	text-align: justify;
	margin: 0 auto;
	padding: 0 0 40px;

}


/* Header */

html, body	{

	margin: 0;
	top: 0;
}

section {

	background: url(../images/header.jpg);
	width: 1920px;
	height: 768px;
	display: block;
	float: left;

}

.container {

	width: 730px;
	height: 768px;
	margin: 0 auto;

}

.paragrafo {

	position: relative;
	bottom: -208px;
}


/* Listas */

#sete {
	
	background: url(../images/fidlar.jpg)
}

























.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}

#container:after {
	
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

